{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>ACERCA DE MI</h1>
<body>
Mi nombre es Karen Mendez, tengo 25 años y soy Licenciada en Comercio Internacional de la Universidad Nacional de la Matanza.    
</br>
</br>
Además de la programación y el comercio exterior, me apasiona la musica, la literatura y viajar.
</br>
Por lo que, el objetivo de esta web es soñar un poco con los destinos que más me gustaría conocer creando así una web que simula ser una agencia de viajes.
</body>
</center>
{% endblock %}

