{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>EGIPTO</h1></center>

<center><img src="https://static.vecteezy.com/system/resources/thumbnails/000/661/796/small_2x/Pyramid.jpg" alt="" width="400" height="400"></center>

<center><h2>¿Por qué visitar Egito?</h2></center>
Considerado la cuna de las civilizaciones, Egipto es un país único, un destino sorprendente y cargado de magia e historia que invita a sus visitantes a disfrutar de una experiencia inolvidable.
Egipto ofrece una apasionante mezcla entre aventura, cultura y misterio que invita a todo aquel que lo visita a perderse en sus colosales templos y verse envuelto entre el bullicio de El Cairo.
Entre los innumerables atractivos del país, Egipto ofrece la posibilidad de disfrutar de la tranquilidad de un crucero por el Nilo y contemplar las majestuosas pirámides antes de degustar las excelentes especialidades culinarias egipcias, o bien sumergirse en las profundidades para bucear disfrutando de la inmensidad del Mar Rojo.
Como hace más de dos mil años dijo el historiador griego Heródoto "quien no ha visto Egipto no ha visto el mundo".

<br>
<center><h2>Antes de viajar</h2></center>
Si estás planeando viajar a Egipto, lo primero que necesitas hacer es tomar una decisión importante, ir por libre o contratar un viaje organizado. En la web os explicamos las ventajas e inconvenientes de cada una de las opciones.

<br>
<br>

{% endblock %}