{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>HONG KONG</h1></center>

<center><img src="https://st2.depositphotos.com/1002806/10949/v/450/depositphotos_109499732-stock-illustration-hong-kong-beautiful-country-to.jpg" alt="" width="400" height="400"></center>

<center><h2>¿Por qué visitar Hong Kong?</h2></center>
Para nosotros la pregunta correcta sería: ¿Cómo es posible viajar a China y no visitar Hong Kong? Visitar la ex-colonia británica nos ofrecerá una visión totalmente diferente de la China tradicional.
Hong Kong es una ciudad donde los contrastes son dignos de admirar: Riqueza y pobreza, luz y penumbra, y oriental y occidental son algunas de las clasificaciones que podrán hacer los visitantes. Sin duda los 150 años de influencia colonial y los 5.000 de tradición china han hecho que Hong Kong sea un lugar con personalidad propia.
Hong Kong es uno de los principales motores económicos de China y su ciudad más moderna. Hong Kong es una ciudad que no duerme, una ciudad con decenas de visitas de ocio y culturales, con infinidad de mercados y mercadillos callejeros y con un skyline que deja en segundo plano al de ciudades como Nueva York.
La imagen que ofrece la Bahía Victoria iluminada, contemplar el espectáculo Symphony of Lights y disfrutar de una cena en un rascacielos son razones de peso para viajar y disfrutar Hong Kong.

<br>
<br>

{% endblock %}