{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>MIAMI</h1></center>

<center><img src="https://img.freepik.com/vector-gratis/etiqueta-viaje-disenada-miami_1284-38824.jpg?w=2000" alt="" width="400" height="400"></center>

<center><h2>¿Por qué visitar Miami?</h2></center>
Miami es diferente al resto de ciudades estadounidenses. Su privilegiada ubicación al sur de Florida lo convierte en un destino turístico en el que se puede disfrutar de un clima cálido durante los doce meses del año.
Con una temperatura media anual de 24 grados, las playas de Miami se encuentran repletas de gente la mayor parte del año. Sus interminables extensiones de arena blanca combinadas con su agua de un color azul casi irreal forman un marco incomparable en el que pasar las vacaciones.
Aunque las playas son el mayor atractivo de Miami, sin duda es un lugar que tiene mucho más que ofrecer; podréis disfrutar de un día refrescante en el Parque Nacional de los Everglades, degustar un café al más puro estilo cubano en Little Havana, pasar un día divertido con los animales de Jungle Island o sentaros en alguna de las terrazas de Ocean Drive para observar el ambiente especial de South Beach.
Miami siempre ha sido el escenario corrupto de películas y series policíacas y de intriga. En vuestro viaje tendréis la oportunidad de convertiros en los protagonistas de vuestra propia historia sin guión.

<center><h2>¿Cómo organizar el viaje?</h2></center>
Si vas a viajar a Miami y te gustaría saber algo más sobre la ciudad, con nuestra guía de Miami puedes empezar conociendo su interesante historia y la información práctica para viajar, conociendo las zonas y los lugares más importantes y descubriendo sus playas.

<br>
<br>

{% endblock %}