{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>NEW ZELAND</h1></center>

<center><img src="https://img.freepik.com/vector-premium/ilustracion-recuerdo-viaje-insignia-logotipo-bandera-pegatina-nueva-zelanda_669574-69.jpg?w=2000" alt="" width="400" height="400"></center>

<center><h2>¿Por qué visitar New Zeland?</h2></center>
El país de los kiwis, de los deportes extremos, de los mejores paisajes del mundo, de los extraordinarios atardeceres, las cascadas, los mejores postres, la gente más culta, el país más seguro, el color verde, los hobbits, Narnia, las playas interminables, las montañas, los volcanes, los glaciares, los desiertos… LA PERFECCIÓN.

Te puedo prometer que realizar un intercambio es  la mejor experiencia que puedes vivir. Cada vez que yo veía los fascinantes paisajes de Nueva Zelanda, yo sólo deseaba que mis ojos fueran una cámara, en serio, ¡era simplemente un sueño! Eso es, Nueva Zelanda es un país de ensueños, como sacado de un libro,  de esos de fantasías.
<br>
<br>

{% endblock %}