{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center><h1>PUNTA CANA</h1></center>
<center><img src="https://images.squarespace-cdn.com/content/v1/5f74f7d9ca13c44f72a5d57c/1608682346367-YJURPZKXFW3ZZHFBX5SR/WhatsApp+Image+2020-12-22+at+4.17.20+PM.jpeg?format=2500w" alt="" width="400" height="400"></center>

<center><h2>¿Por qué visitar Punta Cana?</h2></center>
De entre todos los destinos paradisíacos del mundo, Punta Cana es un referente por sus infinitas playas de arena blanca en pleno corazón del Caribe. Puede ser el destino que estás buscando para las vacaciones de este año 2022. 
República Dominicana reabrió sus fronteras al mundo el 1 de julio de 2020, haciendo posible viajar al país simplificando los requisitos de entrada y estancia
Viajar a Punta Cana es mucho más que disfrutar del sol y el mar. Sus atractivos van desde la gastronomía y tradiciones dominicanas hasta el selvático interior de la isla, que guarda un sinfín de contrastes con la idea que todos tenemos en mente. Para viajar a Punta Cana no puedes perderte las siguientes recomendaciones.

<br>
<br>

<center><h2>¿Qué hacer durante tu estancia en Punta Cana?</h2></center>
Tus vacaciones en el paraíso comienzan mucho antes de que pongas un pie en Punta Cana. Cuando empiezas a planear qué vas a hacer durante esos días y qué vas a visitar, una parte de ti ya está paseando por República Dominicana.

Muchas veces tus planes irán más condicionados en una u otra dirección en base a si viajas con tu familia, con tu pareja o con amigos. Y, por qué no, también si lo haces por tu cuenta, ya que Punta Cana da la bienvenida por igual a todos los que se acercan hasta ella.

Veamos qué puedes hacer durante tus vacaciones de este año 2022 en Punta Cana.?

{% endblock %}