{% extends "AppKaren/padre.html" %}
{% load static %}

{% block contenido_que_cambia %}

<center>

<br>
<a class="btn-primary">EGIPTO</a>
<p>¿Por qué visitar Egipto? Considerado la cuna de las civilizaciones, Egipto es un país único, un destino sorprendente...</p>
<a class="btn btn-primary" href="{% url 'egipto' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">MIAMI</a>
<p>Miami es diferente al resto de ciudades estadounidenses. Su privilegiada ubicación al sur de Florida lo convierte en un...</p>
<a class="btn btn-primary" href="{% url 'miami' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">HONG KONG</a>
<p>Hong Kong es una ciudad donde los contrastes son dignos de admirar: Riqueza y pobreza, luz y penumbra, y oriental y occidental...</p>
<a class="btn btn-primary" href="{% url 'hongKong' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">NEW ZELAND</a>
<p>El país de los kiwis, de los deportes extremos, de los mejores paisajes del mundo, de los extraordinarios atardeceres, las cascadas...</p>
<a class="btn btn-primary" href="{% url 'newZeland' %}">Leer Más</a>
<br>
<a class="btn-primary">PUNTA CANA</a>
<p>De entre todos los destinos paradisíacos del mundo, Punta Cana es un referente por sus infinitas playas de arena blanca en pleno corazón...</p>
<a class="btn btn-primary" href="{% url 'puntaCana' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">PARIS</a>
<p>París es una ciudad que parece diseñada para el disfrute del viajero. Sus calles, plazas, edificios, jardines y monumentos parecen...</p>
<a class="btn btn-primary" href="{% url 'paris' %}">Leer Más</a>
<br>




<br>
<a class="btn-primary">BUSQUEDA ACTIVIDAD</a>
<p>Algunas de nuestras visitas te harán enloquecer! Busca entre nuestras favoritas.</p>
<a class="btn btn-primary" href="{% url 'busquedaActividad' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">AGREGAR AVATAR</a>
<p>Modificar tu avatar apenas tiñas tu pelo para que siempre matchee con tu stilo.</p>
<a class="btn btn-primary" href="{% url 'agregarAvatar' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">ACERCA DE MI</a>
<p>Conoce un poco más sobre la estudiante que está detrás de este proyecto.</p>
<a class="btn btn-primary" href="{% url 'about' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">VIAJEROS</a>
<p>Conoce un poco más sobre la estudiante que está detrás de este proyecto.</p>
<a class="btn btn-primary" href="{% url 'viajeros' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">PAQUETES</a>
<p>Conoce un poco más sobre la estudiante que está detrás de este proyecto.</p>
<a class="btn btn-primary" href="{% url 'paquetes' %}">Leer Más</a>
<br>
<br>
<a class="btn-primary">DESTINOS</a>
<p>Conoce un poco más sobre la estudiante que está detrás de este proyecto.</p>
<a class="btn btn-primary" href="{% url 'destinos' %}">Leer Más</a>

<br>
<br>
</center>
{% endblock %}


